<!-- Container -->
<div class="container-fluid m-auto">
    <!-- Row -->
    <div class="row footer-row">
        <div class="cta-area col-md-8 bg-blue">
            <h5 class="fw-600 text-white">No download or sign up required, give our service a try online</h5>

            <a href="#" class="link inline-link"><button class="btn btn-white">Get started</button></a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Row -->
    <div class="row footer-row text-center">
        <a href="/" class="col-md-2 footer-brand m-auto align-items-center justify-content-center"><img src="/img/fd-logo.png" class="footer-brand-img" alt="">findDining</a>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row footer-row col-md-12 text-center">
        <ul class="footer-links">
            <li class="footer-link-item"><a href="#" class="footer-link">How it Works</a></li>
            <li class="footer-link-item"><a href="#" class="footer-link">Features</a></li>
            <li class="footer-link-item"><a href="#" class="footer-link">API</a></li>
            <li class="footer-link-item"><a href="#" class="footer-link">Support</a></li>
            <li class="footer-link-item"><a href="#" class="footer-link">Docs</a></li>
            <li class="footer-link-item"><a href="#" class="footer-link">Github</a></li>
        </ul>
    </div>
    <!-- /.row -->

    <!-- Row -->
    <div class="row footer-row col-md-12 text-center">
        <p class="footer-text col-md-5 m-auto">&copy; 2022 All rights reserved. findDining is a web API that  lets you find new food spots near you. 
            findDining is currently limited to users in the U.S.</p>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->