<div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="/">
        <img src="/img/fd-logo.png" alt="findDining" width="30" height="auto" srcset="">
        findDining
    </a>
    <!-- /.navbar-brand -->

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- /.navbar-toggler -->

    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar Nav -->
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <!-- Nav Items -->
            <li class="nav-item"><a href="#" class="nav-link">How it Works</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Support</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Github</a></li>
            <!-- /.nav-items -->
        </ul>
        <!-- /.navbar-nav -->

        <!-- Get Started -->
        <a href="/api/search" class="btn btn-primary">Get Started</a>
        <!-- /.get-started -->
    </div>
    <!-- /.navbar-collapse -->
</div>