/*------------------------------------------------------------------
[2. Mixins]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Transitions]
------------------------------------------------------------------*/
@mixin easeInOut10s {
    -webkit-transition: all ease-in-out 0.10s;
    transition: all ease-in-out 0.10s;
}
@mixin easeInOut15s {
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
@mixin easeInOut20s {
    -webkit-transition: all ease-in-out 0.20s;
    transition: all ease-in-out 0.20s;
}
@mixin easeInOut25s {
    -webkit-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}
/*------------------------------------------------------------------
[Sizing]
------------------------------------------------------------------*/
@mixin fullSize {
    height: 100%;
    width: 100%;
}
/*------------------------------------------------------------------
[Shadows]
------------------------------------------------------------------*/
@mixin lightShadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
/*------------------------------------------------------------------
[Object Fit]
------------------------------------------------------------------*/
@mixin coverFit {
    object-fit: cover;
}
@mixin containFit {
    object-fit: contain;
}
@mixin fillFit {
    object-fit: fill;
}
@mixin noneFit {
    object-fit: none;
}
@mixin scaleDownFit {
    object-fit: scale-down;
}