/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
------------------------------------------------------------------*/
$c-white: #FFFFFF;
$c-black: #000000;
$c-grey: #EDEDED;
$c-alice: #E5F1FF;
$c-manatee: #99A2B2;
$c-silver: #7D8696;
$c-charcoal: #323B4B;
$c-ultrablue: #377DFF;