/*------------------------------------------------------------------
[11. Index Page]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header]
------------------------------------------------------------------*/
#indexHeader {
    height: 100vh;
    width: 100%;
    .container-fluid {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .header-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .jumbotron {
                text-align: center;
                margin: auto;
                width: 900px;
                h1 {
                    margin-bottom: 30px;
                }
                .body-1 {
                    margin-bottom: 50px;
                }
                .header-links {
                    .header-link-item {
                        &:not(:last-of-type) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    html,
    body {
        overflow-x: hidden;
    }
    #indexHeader {
        width: 100vw;
        .container-fluid {
            width: 100%;
            .header-row {
                .jumbotron {
                    width: 100%;
                    padding: 0;
                    .text-header {
                        font-size: 40px;
                    }
                    .body-1 {
                        font-size: 16px;
                    }
                    .header-links {
                        height: 150px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        text-align: center;
                        padding: 0 5px 0 0;
                        .header-link-item {
                            margin: 0;
                            &:not(:last-of-type) {
                                margin-right: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 992px) {
    html,
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 1200px) {
    html,
    body {
        overflow-x: hidden;
    }
}
/*------------------------------------------------------------------
[Features]
------------------------------------------------------------------*/
#features {
    .container-fluid {
        .section-row {
            &.section-content {
                margin: 100px 0 0 0;
                .features-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .feature-card {
                        width: 425px;
                        padding: 20px;
                        border: 1px solid $c-grey;
                        .card-body {
                            .card-title {
                                margin-bottom: 15px;
                            }
                            .card-text {
                                color: $c-silver;
                                line-height: 30px;
                            }
                        }
                        .feature-link {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    html,
    body {
        overflow-x: hidden;
    }
    #features {
        .section-content {
            .features-area {
                flex-direction: column;
                .feature-card {
                    width: 300px;
                    &:not(:last-of-type) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 992px) {
    html,
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 1200px) {
    html,
    body {
        overflow-x: hidden;
    }
}
/*------------------------------------------------------------------
[Highlights]
------------------------------------------------------------------*/
#highlights {
    &.section {
        .container-fluid {
            .section-content {
                margin: auto;
                .highlights-area {
                    .highlights-row {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .col-h {
                            width: 600px;
                            &.highlights-text {
                                .col-header,
                                .col-text {
                                    margin: 0 0 30px 0;
                                }
                                .col-text {
                                    padding: 0 50px 0 0;
                                    line-height: 34px;
                                }
                            }
                            &:not(:last-of-type) {
                                margin-right: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*------------------------------------------------------------------
[Extras]
------------------------------------------------------------------*/
#extras {
    .container-fluid {
        .section-content {
            margin: auto;
            padding: 0 300px;
            .extras-area {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: auto;
                .col-e {
                    width: 50%;
                    &:not(:last-of-type) {
                        margin: 0 50px 0 0;
                    }
                    .extras-col-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .extra-card {
                            width: 300px;
                            padding: 30px;
                            border-color: $c-grey;
                            .card-body {
                                .card-title {
                                    font-size: 24px;
                                }
                                .card-text {
                                    line-height: 30px;
                                }
                            }
                            &:hover {
                                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.075);
                            }
                        }
                        &:not(:last-of-type) {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}
/*------------------------------------------------------------------
[Google Maps]
------------------------------------------------------------------*/
#googleMaps {
    .container-fluid {
        .section-content {
            margin: auto;
            .maps-area {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: 75%;
                .col-left {
                    text-align: center;
                }
                .col-right {
                    padding: 0 120px 0 0;
                    .col-header,
                    .col-text {
                        margin-bottom: 30px;
                    }
                    .d-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 30px 0 0;
                        margin: 0 0 30px 0;
                        .row-icon {
                            height: 80px;
                            width: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $c-ultrablue;
                            background-color: $c-alice;
                            border-radius: 100%;
                            margin-right: 20px;
                            .fa-icon {
                                width: inherit;
                                padding: 0;
                            }
                        }
                        .row-text {
                            .row-text-header {
                                margin-bottom: 0px;
                            }
                            .row-text-small {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .inline-link {
                        font-size: 16px;
                        .link-icon {
                            font-size: inherit;
                        }
                    }
                }
            }
            // &:not(:last-of-type) {
            //     margin-bottom: 20px;
            // }
        }
    }
}
/*------------------------------------------------------------------
[Testimonials]
------------------------------------------------------------------*/
#testimonials {
    background-color: $c-off-white;
    .container-fluid {
        .testimonials-area {
            .carousel-inner {
                .carousel-item {
                    padding: 0 100px 0 210px;
                    .carousel-item-row {
                        padding: 20px 0;
                        .testimonial-card {
                            width: 400px;
                            padding: 25px 10px;
                            border: 1px solid $c-grey;
                            .card-head {
                                .card-avi {
                                    border-radius: 100%;
                                    height: 80px;
                                    width: 80px;
                                    @include coverFit;
                                    margin-bottom: 10px;
                                }
                                .card-title {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: $c-charcoal;
                                }
                            }
                            .card-body {
                                .card-star {
                                    color: $c-yellow2;
                                }
                            }
                            &:hover {
                                box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }
}