/*------------------------------------------------------------------
[8. Functions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Margins & Padding]
------------------------------------------------------------------*/
$spaces: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
$sides: (top, bottom, left, right);

@each $space in $spaces {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px;
        }
    }
}
/*------------------------------------------------------------------
[Height & Width]
------------------------------------------------------------------*/
$sizes: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$height: height;
$width: width;

@each $size in $sizes {
    @each $height in $height {
        .h-#{$size} {
            height: percentage($size/100) !important;
        }
    }
    @each $width in $width {
        .w-#{$size} {
            width: percentage($size/100) !important;
        }
    }
}