/*------------------------------------------------------------------
[3. Resets]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[*]
------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 100%;
    background: transparent;
    @include easeInOut15s;
}
/*------------------------------------------------------------------
[Scrollbar]
------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: $c-grey;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $c-ultrablue;
}
/*------------------------------------------------------------------
[:root]
------------------------------------------------------------------*/
:root {
    /** Colors -- HEX **/
    --c-white: #FFFFFF;
    --c-off-white: #FAFBFC;
    --c-grey: #EDEDED;
    --c-alice: #E5F1FF;
    --c-cement: #b2b2b2;
    --c-manatee: #99A2B2;
    --c-silver: #7D8696;
    --c-charcoal: #323B4B;
    --c-ultrablue: #377DFF;
    --c-yellow: #FFE01B;
    --c-yellow2: #FEC601;
    --c-black: #000000;
    --c-rich-black: #071013ff;
    /** Colors -- HSL **/
    --rich-black-fogra-29: hsla(195, 46%, 5%, 1);
    --ultramarine-blue: hsla(216, 100%, 50%, 1);
    --tuscany: hsla(354, 17%, 66%, 1);
    --charcoal: hsla(218, 20%, 25%, 1);
    --alice-blue: hsla(212, 100%, 95%, 1);
    /** Gradients **/
    --gradient-top: linear-gradient(0deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-right: linear-gradient(90deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-bottom: linear-gradient(180deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-left: linear-gradient(270deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-top-right: linear-gradient(45deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-bottom-right: linear-gradient(135deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-top-left: linear-gradient(225deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-bottom-left: linear-gradient(315deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
    --gradient-radial: radial-gradient(#071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
}