/*------------------------------------------------------------------
[6. Typography]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Headings]
------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 62px;
}
h5 {
    font-size: 27px;
}
/*------------------------------------------------------------------
[Paragraphs]
------------------------------------------------------------------*/
p {
    line-height: 36px;
}
.p {
    &-header,
    &-section-header {
        font-size: 20px;
    }
    &-section-header {
        color: $c-manatee;
    }
}
/*------------------------------------------------------------------
[Lists]
------------------------------------------------------------------*/
ul,
ol {
    list-style-type: none;
    li {
        display: inline;
    }
}
/*------------------------------------------------------------------
[Font Weights]
------------------------------------------------------------------*/
.fw {
    &-thing {
        font-weight: 100!important;
    }
    &-ex-light {
        font-weight: 200!important;
    }
    &-light {
        font-weight: 300!important;
    }
    &-regular {
        font-weight: 400!important;
    }
    &-medium {
        font-weight: 500!important;
    }
    &-sm-bold {
        font-weight: 600!important;
    }
    &-bold {
        font-weight: 700!important;
    }
    &-ex-bold {
        font-weight: 800!important;
    }
    &-black {
        font-weight: 900!important;
    }
}
/*------------------------------------------------------------------
[Text Colors]
------------------------------------------------------------------*/
.text {
    &-charcoal {
        color: $c-charcoal;
    }
    &-manatee {
        color: $c-manatee;
    }
}