<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic page needs -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" /> <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/styles.css" /> <!-- Stylesheet -->

        <!-- Title & Favicon -->
        <title>findDining &mdash; <%= title %></title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" type="image/x-icon" />
        <link rel="icon" href="/img/android-chrome-192x192.png" type="image/x-icon" />
        <!-- HTML5Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <![endif]-->
    </head>

    <body id="page-top" data-spy="scroll">
        <!-- Navbar -->
        <navbar class="navbar navbar-expand-lg bg-light">
            <%- include('../includes/navbar.ejs') %>
        </navbar>
        <!-- /.navbar -->
        
        <!-- App -->
        <div class="app-wrapper">
            <%- body %>
        </div>
        <!-- /.app -->

        <!-- Footer -->
        <footer class="main-footer fixed-bottom">
            <%- include('../includes/footer.ejs') %>
        </footer>
        <!-- /.footer -->

        <!-- jQuery -->
        <script src="/jquery/jquery.min.js"></script>
        <!-- Popper -->
        <script src="/popper/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
</html>