<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic page needs -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" /> <!-- Bootstrap -->

        <!-- Title & Favicon -->
        <title>findDining &mdash; <%= title %></title>
        <!-- HTML5Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <![endif]-->
        <style>
            * {
                padding: 0;
                margin: 0;
                border: 0;
                box-sizing: border-box;
                vertical-align: baseline;
                font-size: 100%;
                background: transparent;
            }
            html,
            body {
                height: 100%;
                width: 100%;
                background-color: white;
            }
            header,
            section {
                height: 100%;
                width: 100%;
            }
            header {
                padding: 100px 0;
            }
            section {
                padding-bottom: 50px;
            }
        </style>
    </head>

    <body id="page-top" data-spy="scroll">
        <!-- Navbar -->
        <navbar class="navbar navbar-expand-lg bg-light">
            <%- include('../includes/navbar.ejs') %>
        </navbar>
        <!-- /.navbar -->
        
        <!-- App -->
        <div class="app-wrapper">
            <%- body %>
        </div>
        <!-- /.app -->

        <!-- jQuery -->
        <script src="/jquery/jquery.min.js"></script>
        <!-- Popper -->
        <script src="/popper/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
</html>