/*------------------------------------------------------------------
[10. Footer]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Main Footer]
------------------------------------------------------------------*/
footer {
    &.main-footer {
        margin-top: auto;
        .footer-row {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .cta-area {
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                padding: 30px 350px;
                margin-bottom: 20px;
                .link {
                    margin-top: 30px;
                }
            }
            .footer-brand {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.5px;
                color: $c-ultrablue;
                align-self: center;
                justify-self: center;
                .footer-brand-img {
                    width: 40px;
                    height: auto;
                    margin-right: 5px;
                }
            }
            .footer-links {
                .footer-link-item {
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                    .footer-link {
                        color: $c-cement;
                        font-size: 18px;
                        font-weight: 600;
                        &:hover,
                        &:focus {
                            color: $c-ultrablue;
                        }
                    }
                }
            }
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
    }
}