<!-- Header -->
<header id="pageHeader" class="page-header bg-owhite">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Header Wrapper -->
        <div class="header-wrapper col-md-6">
            <h2 class="fw-700 text-charcoal header-title">Incorporating user friendly features</h2>
        
            <p class="body-1 fw-600 text-manatee header-subtitle">
                Improving your user experience through a mixture of simple and intuitive application features and capabilities.
            </p>
        </div>
        <!-- /.header-wrapper -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->

<!-- Page Body -->
<section id="pageBody" class="page-body">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal">Simple and intuitive features</h4>

                <p class="body-2 text-manatee">
                    Features are what drive modern web applications, and whilst a large number of usable features is great, we believe that a moderate number 
                    of really useful features is even more important. We’ve decided to narrow our current features to three simple yet intuitive features that 
                    our users can take full advantage from. Like the ability to search for what you need using keywords like #baker or #ice-cream, being able 
                    to filter your search results down to a more digestible number of results, and being able to open your choice in Google Maps to find where you need to go.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Search using specific keywords</h6>

                <p class="body-2 text-manatee">
                    We decided to incorporate keyword based searching capabilities as it streamlines the search process to allow users to get to their results 
                    quicker.  If you’d like to narrow down the search results by a specific category, or in this instance, keyword, you can do just that in order 
                    to avoid the added fluff and overwhelming decision process present in the unknown search of what you’re looking for. Keyword based search also 
                    allows us to limit the number of overwhelming searching functionality as our main goal is to make this part of the process easier for users.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Filter your results to narrow your search</h6>

                <p class="body-2 text-manatee">
                    You can filter your search results by what’s most relevant to you in a number of categories. You can filter your search results by most relevant, 
                    most popular, etc., in order to get to good choices quicker. Our filter processor is always improving and will continue to become more expansive 
                    in offering you more and more filtering choices that will help you narrow the search down even further. For now, we’ve developed a simple filter 
                    system that works in tandem with our database collection that will get you up and running in no time.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Open a pick on Google Maps</h6>

                <p class="body-2 text-manatee">
                    Google Maps is one of the largest and most robust maps solution available today. Offering real-time updates, satellite and geographical views, 
                    and most importantly, navigation features that can be tailored to your needs. We believe that finding the restaurant to eat from is just half the 
                    experience, being able to see where it is and how to get there is the other half. Integrating Google Maps with findDining helps us bridge that 
                    gap and allow our users to take that next step in visiting and actually trying out their food spots.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal text-center m-t-50">Frequently asked questions</h4>

                <!-- Accordion -->
                <div class="accordion" id="accordionExample">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Are there plans to add more features?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">
                                    Yes, we are currently planning and designing new features that we would like to implement to the platform as soon as possible.
                                    We are also working on refining the features we already have in place to ensure that users can take advantage of what we have to offer.
                                    Features will be announced as they are made available to our users.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->

                    <!-- <div class="spacer p-t-15 p-b-15"></div> -->
                    
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can we leave feadback?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">
                                    Currently there is no built in feature that will accept user messages/feedback, but we are working on adding that soon. If you have any feedback 
                                    that you'd like to offer us, feel free to email Stephen: <a href="mailto:hellostephenwm@gmail.com">hellostephenmw@gmail.com</a>. You can
                                    ask any questions you may have as well as leave feedback on things you'd like improved or added to the app.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->

                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Is findDining currently hiring?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">
                                    No, findDining is not at the scale where we can afford to employ people, however, we are looking for contributors with experience in backend and or
                                    frontend web development. If you have skills in Node, Express, MongoDB, and would like to get involved, visit the <a href="https://github.com/ogre2/findDining" class="accordion-link" target="_blank">project repository</a> to learn more on
                                    how you can contribute.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->
                </div>
                <!-- /.accordion -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal m-t-50">Design decisions and features</h4>

                <p class="body-2 text-manatee">
                    During the lifespan of the project so far, we’ve had to make critical decisions regarding aspects of the application design as well as available 
                    features. We believe we’ve reached the middle ground on those to points that allow us to deliver our vision with as much detail as possible to our 
                    users. Learn more about those decisions below.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Modern UI design</h6>

                <p class="body-2 text-manatee">
                    findDining is built with a modern user interface design in mind, and this is done with the development process in mind as we can utilize the very 
                    popular CSS framework, Bootstrap, in its current release that gives us a lot of useful development tools that can help us achieve the design in a 
                    simple manner. Our design uses a modern sans-serif font type, button and component design, as well as layouts to make the user interface and 
                    experience a lot more enjoyable and fun to interact with especially in our search page.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Mobile friendly approach</h6>

                <p class="body-2 text-manatee">
                    findDining was built with mobile devices in mind, smartphones and tablets, as well as desktop browsers and laptops. We believe that our users 
                    shouldn’t be limited by their devices to enjoy a clean user interface and search function. With Bootstrap’s tailor made grid and layout system, 
                    we’ve developed findDining to be a mobile friendly and responsive web application that will update and resize its design on the fly depending 
                    on what device someone is using to view and interact with our web app. 
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">Constant updates</h6>

                <p class="body-2 text-manatee">
                    Bugs are a part of the game of web design and overall web development, and many will arise in findDining as our application will continue to grow. 
                    Where bugs exist, we seek to find them, understand them, and deploy fixes that will improve the viewing and user experience of our visitors. 
                    findDining has and will continue to receive constant updates to both its frontend (layout, design, etc.) as well as its backend to make sure our 
                    vision is delivered in real time as we have designed. Improving application load time, search return speed, and more, are currently in the works. 
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-body -->