<!-- Header -->
<header id="pageHeader" class="page-header bg-owhite">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Header Wrapper -->
        <div class="header-wrapper col-md-6">
            <h2 class="fw-700 text-charcoal header-title">How findDining works to help you find good eats</h2>
            
            <p class="body-1 fw-600 text-manatee header-subtitle">
                Learn how our web application works to curate an expansive list of restaurants and food spots that you can find and eat at.
            </p>
        </div>
        <!-- /.header-wrapper -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->

<!-- Page Body -->
<section id="pageBody" class="page-body">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal">Curated database collection</h4>

                <p class="body-2 text-manatee">
                    We’ve spent time developing a database collection of restaurants from all over Manhattan and the greater New York City 
                    area to give you the largest number of potential locations to choose from. Our database is constantly updated and improved 
                    on to ensure our list continues to grow and the data you need is readily available at all times. Moreover, our database is 
                    built on the MongoDB Atlas platform that gives us unprecedented access as well as on demand configurations to make sure 
                    that we are always up to date on what we feel like the user should be able to access.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal">Serving the data</h4>

                <p class="body-2 text-manatee">
                    findDining is built on the latest in modern web development tools that help deliver our service to our users. findDining’s 
                    backend is built on the very popular Node.js runtime with ExpressJS as its framework, allowing us to streamline the API development. 
                    Using MongoDB and the popular NPM package Mongoose, we were able to create a custom database collection of restaurants that 
                    encompass various necessary details like name and address which integrate seamlessly with out API server build to serve you 
                    the data you need. Bootstrap is incorporated to make the data look a lot prettier.
                </p>

                <img src="/img/stack.png" class="m-t-30 m-b-30 m-l-auto m-r-auto" alt="Image of app stack">

                <p class="body-2 text-manatee">
                    Along with Bootstrap, we’ve employed several frontend dependencies that help with the look, feel, and behavior of findDining 
                    not only on desktop browsers, but mobile devices such as tablets and smartphones. We use Sass to develop and compile syntactically 
                    sweet cascading stylesheets, which help streamline the customization process as well as help create our custom uer interface 
                    design in a much more modern and sophisticated manner. Sass also enables us to import and utilize our CSS code like components 
                    across other stylesheets with contribute to the more robust development process.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal">Updates are constant</h4>

                <p class="body-2 text-manatee">
                    As we’ve continued to develop and work on findDining, we continue to discover areas in which we can focus on and improve to help 
                    bring the overall user experience forward and closer to our vision. We dedicate a lot of time to post launch testing and improvement 
                    of our application because we care about the user. With the help of Heroku, we can do just that. Heroku makes it easier and faster 
                    to get the latest approved updates and changes that are committed to the face of the user as changes can be pushed instantaneously 
                    after commit approvals.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal text-center">Frequently asked questions</h4>

                <!-- Accordion -->
                <div class="accordion" id="accordionExample">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How often is the restaurant list updated?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">The current application database has well over twenty thousand entries of restaurants, and we hope to add more as time continues.
                                    We are working on a form submission feature that will enable restaurant owners to submit details about their restaurants and food spots that they would
                                    like to have listed on our platform.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->

                    <!-- <div class="spacer p-t-15 p-b-15"></div> -->
                    
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can I contribute to the application?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">
                                    If you have experience with Node.js, ExpressJS, MongoDB, or are familiar with frontend frameworks such as EJS, Vue, or React, and would like to
                                    contribute to the findDining project, you can contact Stephen Mwingira through email:
                                    <a href="mailto:hellostephenwm@gmail.com">hellostephenmw@gmail.com</a> with any questions you may have about how you can contribute.
                                    Furthermore, contribution instrunctions for those who have experience and want to jump in can be found on the <a href="http://github.com/ogre2/findDining" target="_blank">project repository</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->

                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Where can I learn more about the project?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-text">
                                    Our Github repository contains a lot more of the technical details of the application, as well as documentation for the API, endpoints, and more.
                                    If you want to learn about how to contribute to the project, or if you need to contact Stephen, details can be found there as well.
                                    You can visit the project repository by <a href="https://github.com/ogre2/findDining" class="accordion-link" target="_blank">clickings here</a>.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.accordion-item -->
                </div>
                <!-- /.accordion -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row page-row m-t-100">
            <div class="page-row-content col-md-6">
                <h4 class="page-row-title fw-700 text-charcoal m-t-50">About findDining</h4>

                <p class="body-2 text-manatee">
                    findDining is an application idea by a senior CUNY Brooklyn College student, Stephen Mwingira, who wanted to built an online application for students 
                    and New Yorkers alike who would like to find food spots easier and quicker. Current options for finding restaurants and food places to order/eat from 
                    come equipped with a lot of fluff and at times present a very bloated user experience that make the process feel overwhelming at times. I decided on 
                    this project idea because I believe trying new experiences shouldn’t be something that is overwhelming, especially in the early process.
                </p>

                <h6 class="page-row-subtitle fw-600 text-charcoal m-t-50 m-b-20">The team</h6>

                <p class="body-2 text-manatee">
                    The current team behind findDining is small but very capable. Design and development is done by CUNY Brooklyn College Computer Science major and current
                    attending senior student, Stephen Mwingira. Stephen has done some work in the past in the web design and development space which offered him some prior
                    experience that was necessary towards the evolution and build of the project. The team also consists of one supervisor, professor Moshe Lach, who has been
                    monumental in the lifespan of the project helping Stephen ensure he meets deadlines and project requirements.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-body -->