<header id="header">
    <div class="container-fluid d-flex justify-content-center">
        <h1>Index Page</h1>
    </div>
</header>

<section id="info">
    <div class="container-fluid">
        
    </div>
</section>