<!-- Header -->
<header id="indexHeader">
    <div class="container-fluid d-flex align-items-center h-100">
        <!-- Row -->
        <div class="row m-auto d-flex justify-content-center">
            <!-- Header Content -->
            <div class="col-md-7 text-center">
                <h1 class="fw-bold text-charcoal m-b-30">We've changed how you find good food</h1>

                <p class="col-md-11 m-auto fw-sm-bold p-header text-manatee">
                    If you love food and love finding local spots to try out, look no further than the
                    findDining web service. Powered by the latest in modern web development tools.
                </p>

                <ul class="header-buttons m-t-30">
                    <li class="header-button-item"><a href="" class="btn btn-primary">Get started</a></li>
                    <li class="header-button-item"><a href="" class="btn btn-primary">Learn more</a></li>
                </ul>
            </div>
            <!-- /.header-content -->
        </div>
        <!-- /.row -->
    </div>
</header>
<!-- /.header -->

<!-- Features Section -->
<section id="features">
    <div class="container-fluid d-flex flex-column">
        <!-- Section Header -->
        <div class="row section-header ms-auto me-auto text-center d-flex flex-column align-items-center w-100 m-b-100">
            <h2 class="col-md-5 fw-bold text-charcoal">Simple and intuitive user features</h2>

            <p class="col-md-4">
                findDining comes equipped with simple and useful features that make
                finding what you’re looking for so much easier. 
            </p>
        </div>
        <!-- /.section-header -->

        <!-- Section Content -->
        <div class="row section-content m-auto w-100">
            <div class="row w-100 m-auto d-flex justify-content-around">
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-hashtag"></i>
                        </div>
                        <h5 class="card-title">Search by keyword</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find what you are looking for quickly.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-magnifying-glass"></i>
                        </div>
                        
                        <h5 class="card-title">Result filtering</h5>
                        <p class="card-text">
                            Don’t get overwhelmed by a the large amount of search results, use our filter functionality to focus your results.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-solid fa-fw fa-location-dot"></i>
                        </div>
                        <h5 class="card-title">Open in Google Maps</h5>
                        <p class="card-text">
                            Found a food spot you’d like to try? Find out how close or far you are through Google Maps with one click.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.section-content -->
    </div>
</section>
<!-- /.features-section -->
