/*------------------------------------------------------------------
[Master Stylesheet]
Project:    findDining
Version:    1.0
Last change:    12/09/2022
Assigned to:    Stephen Mwingira
Primary use:    API 
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Variables
2. Mixins
4. Functions
5. Resets
6. Body
7. Typography
8. Buttons
9. Navigation
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[2. Mixins]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Transitions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Sizing]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Shadows]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Object Fit]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[5. Resets]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[*]
------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
  transition: all ease-in-out 0.15s;
}

/*------------------------------------------------------------------
[Scrollbar]
------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #EDEDED;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #377DFF;
}

/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[HTML/Body]
------------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

/*------------------------------------------------------------------
[Areas]
------------------------------------------------------------------*/
header,
section,
footer,
div {
  margin: 0;
}

section,
footer {
  padding: 100px 0;
  min-height: 200px;
}

footer {
  vertical-align: bottom;
}
/*# sourceMappingURL=styles.css.map */