/*------------------------------------------------------------------
[Master Stylesheet]
Project:    findDining
Version:    1.0
Last change:    12/09/2022
Assigned to:    Stephen Mwingira
Primary use:    API 
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Variables
2. Mixins
3. Resets
4. Body
5. Keyframes
6. Typography
7. Buttons
8. Functions
9. Navigation
10. Footer
11. Index page
12. Search page
13. How it Works page
14. Features page
15. Media Screens
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
------------------------------------------------------------------*/
/** Colors -- HEX **/
/** Colors -- HSL **/
/** Gradients **/
/*------------------------------------------------------------------
[2. Mixins]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Transitions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Sizing]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Shadows]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Object Fit]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[3. Resets]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[*]
------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
  transition: all ease-in-out 0.15s;
}

/*------------------------------------------------------------------
[Scrollbar]
------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #EDEDED;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #377DFF;
}

/*------------------------------------------------------------------
[:root]
------------------------------------------------------------------*/
:root {
  /** Colors -- HEX **/
  --c-white: #FFFFFF;
  --c-off-white: #FAFBFC;
  --c-grey: #EDEDED;
  --c-alice: #E5F1FF;
  --c-cement: #b2b2b2;
  --c-manatee: #99A2B2;
  --c-silver: #7D8696;
  --c-charcoal: #323B4B;
  --c-ultrablue: #377DFF;
  --c-yellow: #FFE01B;
  --c-yellow2: #FEC601;
  --c-black: #000000;
  --c-rich-black: #071013ff;
  /** Colors -- HSL **/
  --rich-black-fogra-29: hsla(195, 46%, 5%, 1);
  --ultramarine-blue: hsla(216, 100%, 50%, 1);
  --tuscany: hsla(354, 17%, 66%, 1);
  --charcoal: hsla(218, 20%, 25%, 1);
  --alice-blue: hsla(212, 100%, 95%, 1);
  /** Gradients **/
  --gradient-top: linear-gradient(0deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-right: linear-gradient(90deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-bottom: linear-gradient(180deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-left: linear-gradient(270deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-top-right: linear-gradient(45deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-bottom-right: linear-gradient(135deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-top-left: linear-gradient(225deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-bottom-left: linear-gradient(315deg, #071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
  --gradient-radial: radial-gradient(#071013ff, #0066ffff, #b7999cff, #323b4bff, #e5f1ffff);
}

/*------------------------------------------------------------------
[4. Body]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[HTML/Body]
------------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
}

/*------------------------------------------------------------------
[Areas]
------------------------------------------------------------------*/
header,
section,
footer,
div {
  margin: 0;
}

header {
  min-height: 30vh;
  width: 100%;
}

section,
footer {
  padding: 100px 0;
  min-height: 200px;
}

footer {
  vertical-align: bottom;
}

header.page-header {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
}

header.page-header .header-wrapper {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

header.page-header .header-wrapper .header-title {
  margin-bottom: 30px;
}

section.section .container-fluid .row.section-row {
  display: block;
}

section.section .container-fluid .row.section-row.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.section .container-fluid .row.section-row.section-header .section-header-content {
  padding: 0 50px;
}

section.section .container-fluid .row.section-row.section-header .section-header-content .section-heading {
  margin-bottom: 30px;
}

section.page-body {
  border-bottom: 1px solid #EDEDED;
}

section.page-body .container-fluid .page-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

section.page-body .container-fluid .page-row .page-row-content .page-row-title {
  margin-bottom: 30px;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item {
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 5px;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header,
section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-body {
  background-color: #FFFFFF !important;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header {
  border-bottom: 1px solid #EDEDED;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header:after {
  content: "";
  display: none;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header .accordion-button {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #377DFF;
  outline: 0;
  border: 0;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header .accordion-button:active, section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header .accordion-button:focus, section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header .accordion-button:not(:active), section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-header .accordion-button:not(:focus) {
  box-shadow: none;
  background-color: #FFFFFF;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item .accordion-body .accordion-text {
  padding: 20px 0;
}

section.page-body .container-fluid .page-row .page-row-content .accordion .accordion-item:not(:last-of-type) {
  margin-bottom: 30px;
}

section.page-body .container-fluid .page-row:not(:last-of-type) {
  margin-bottom: 50px;
}

/*------------------------------------------------------------------
[Links]
------------------------------------------------------------------*/
a {
  text-decoration: none;
  outline: none;
  border: 0;
}

a.link {
  text-decoration: none;
  text-transform: capitalize;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.link {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

a.link .inline-link .link-icon {
  font-size: inherit;
  margin-left: 5px;
}

/*------------------------------------------------------------------
[Span]
------------------------------------------------------------------*/
span {
  display: inline-block;
}

/*------------------------------------------------------------------
[Input Forms]
------------------------------------------------------------------*/
input[type="text"],
input[type="button"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="submit"] {
  cursor: pointer;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding: 12px 20px;
  outline: none;
  text-indent: 10px;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="search"]:hover,
input[type="search"]:focus {
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[Backgrounds]
------------------------------------------------------------------*/
.bg-white {
  background-color: #FFFFFF;
}

.bg-owhite {
  background-color: #FAFBFC;
}

.bg-cultured {
  background-color: #F3F3F3;
}

.bg-sand {
  background-color: #C1C7D0;
}

.bg-blue {
  background-color: #377DFF;
}

/*------------------------------------------------------------------
[UI Components]
------------------------------------------------------------------*/
.card .card-head {
  margin: 0 0 30px 0;
}

.card .card-head .card-icon {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #377DFF;
  background-color: #E5F1FF;
}

.card .card-body {
  padding: 0;
}

.card .card-body .card-title {
  font-size: 27px;
}

/*------------------------------------------------------------------
[6. Typography]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Headings]
------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 62px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 27px;
}

/*------------------------------------------------------------------
[Paragraphs]
------------------------------------------------------------------*/
p.body-1 {
  font-size: 20px;
  line-height: 35px;
}

p.body-2 {
  font-size: 18px;
  line-height: 28px;
}

p.body-3 {
  font-size: 16px;
  line-height: 24px;
}

p.body-4 {
  font-size: 14px;
  line-height: 21px;
}

/*------------------------------------------------------------------
[Lists]
------------------------------------------------------------------*/
ul,
ol {
  list-style-type: none;
}

ul li,
ol li {
  display: inline;
}

/*------------------------------------------------------------------
[Font Weights]
------------------------------------------------------------------*/
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/*------------------------------------------------------------------
[Text Colors]
------------------------------------------------------------------*/
.text-charcoal {
  color: #323B4B;
}

.text-manatee {
  color: #99A2B2;
}

.text-grey {
  color: #EDEDED;
}

.text-cement {
  color: #b2b2b2;
}

.text-silver {
  color: #7D8696;
}

.text-yellow {
  color: #FEC601;
}

.text-black {
  color: #000000;
}

.text-rblack {
  color: #071013ff;
}

.text-white {
  color: #FFFFFF;
}

/*------------------------------------------------------------------
[Icons]
------------------------------------------------------------------*/
.fa-icon {
  font-size: 26px;
  line-height: 26px;
}

.fa-icon .icon-white {
  color: #FFFFFF;
}

.fa-icon .icon-blue {
  color: #377DFF;
}

/*------------------------------------------------------------------
[7. Buttons]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Button]
------------------------------------------------------------------*/
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

/*------------------------------------------------------------------
[.btn]
------------------------------------------------------------------*/
.btn {
  padding: 16px 40px;
  border: 0px;
  outline: none !important;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
  outline: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #FFFFFF;
  background-color: #377DFF !important;
  border: 1px solid transparent;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  color: #377DFF;
  background-color: #E5F1FF !important;
  border: 1px solid transparent;
}

.btn-alternate,
.btn-alternate:hover,
.btn-alternate:active,
.btn-alternate:visited,
.btn-alternate:focus {
  color: #377DFF;
  background-color: #FFFFFF;
  border: 1px solid transparent;
}

.btn-white,
.btn-white:hover,
.btn-white:active,
.btn-white:visited,
.btn-white:focus {
  color: #323B4B;
  background-color: #FFFFFF;
  border: 1.5px solid #EDEDED;
}

.btn .icon {
  margin-left: 5px;
}

/*------------------------------------------------------------------
[Input Buttons]
------------------------------------------------------------------*/
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  padding: 16px 40px;
  border: 0px;
  outline: none !important;
  font-weight: 600;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="button"]:visited {
  outline: none !important;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, input[type="submit"]:visited {
  outline: none !important;
}

/*------------------------------------------------------------------
[8. Functions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Margins & Padding]
------------------------------------------------------------------*/
.m-t-0 {
  margin-top: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-l-35 {
  padding-left: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.p-r-35 {
  padding-right: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.p-t-45 {
  padding-top: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.m-t-55 {
  margin-top: 55px;
}

.p-t-55 {
  padding-top: 55px;
}

.m-b-55 {
  margin-bottom: 55px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.m-l-55 {
  margin-left: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.m-r-55 {
  margin-right: 55px;
}

.p-r-55 {
  padding-right: 55px;
}

.m-t-60 {
  margin-top: 60px;
}

.p-t-60 {
  padding-top: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.p-l-60 {
  padding-left: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.p-r-60 {
  padding-right: 60px;
}

.m-t-65 {
  margin-top: 65px;
}

.p-t-65 {
  padding-top: 65px;
}

.m-b-65 {
  margin-bottom: 65px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.m-l-65 {
  margin-left: 65px;
}

.p-l-65 {
  padding-left: 65px;
}

.m-r-65 {
  margin-right: 65px;
}

.p-r-65 {
  padding-right: 65px;
}

.m-t-70 {
  margin-top: 70px;
}

.p-t-70 {
  padding-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.p-l-70 {
  padding-left: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.p-r-70 {
  padding-right: 70px;
}

.m-t-75 {
  margin-top: 75px;
}

.p-t-75 {
  padding-top: 75px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.p-b-75 {
  padding-bottom: 75px;
}

.m-l-75 {
  margin-left: 75px;
}

.p-l-75 {
  padding-left: 75px;
}

.m-r-75 {
  margin-right: 75px;
}

.p-r-75 {
  padding-right: 75px;
}

.m-t-80 {
  margin-top: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.p-l-80 {
  padding-left: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.p-r-80 {
  padding-right: 80px;
}

.m-t-85 {
  margin-top: 85px;
}

.p-t-85 {
  padding-top: 85px;
}

.m-b-85 {
  margin-bottom: 85px;
}

.p-b-85 {
  padding-bottom: 85px;
}

.m-l-85 {
  margin-left: 85px;
}

.p-l-85 {
  padding-left: 85px;
}

.m-r-85 {
  margin-right: 85px;
}

.p-r-85 {
  padding-right: 85px;
}

.m-t-90 {
  margin-top: 90px;
}

.p-t-90 {
  padding-top: 90px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.m-l-90 {
  margin-left: 90px;
}

.p-l-90 {
  padding-left: 90px;
}

.m-r-90 {
  margin-right: 90px;
}

.p-r-90 {
  padding-right: 90px;
}

.m-t-95 {
  margin-top: 95px;
}

.p-t-95 {
  padding-top: 95px;
}

.m-b-95 {
  margin-bottom: 95px;
}

.p-b-95 {
  padding-bottom: 95px;
}

.m-l-95 {
  margin-left: 95px;
}

.p-l-95 {
  padding-left: 95px;
}

.m-r-95 {
  margin-right: 95px;
}

.p-r-95 {
  padding-right: 95px;
}

.m-t-100 {
  margin-top: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.m-l-100 {
  margin-left: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

/*------------------------------------------------------------------
[Height & Width]
------------------------------------------------------------------*/
.h-0 {
  height: 0% !important;
}

.w-0 {
  width: 0% !important;
}

.h-10 {
  height: 10% !important;
}

.w-10 {
  width: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.w-20 {
  width: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.w-30 {
  width: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.w-40 {
  width: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.w-60 {
  width: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.w-70 {
  width: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.w-80 {
  width: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.w-90 {
  width: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

/*------------------------------------------------------------------
[9. Navigation]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navbar]
------------------------------------------------------------------*/
.navbar {
  height: 100px;
  line-height: 100px;
  background-color: #FFFFFF;
}

.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #377DFF;
}

.navbar .navbar-brand .navbar-brand-img {
  margin-right: 5px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
}

.navbar .navbar-collapse .navbar-nav .nav-item:not(:first-child) {
  margin-left: 40px;
}

/*------------------------------------------------------------------
[10. Footer]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Main Footer]
------------------------------------------------------------------*/
footer.main-footer {
  margin-top: auto;
}

footer.main-footer .footer-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer.main-footer .footer-row .cta-area {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px 350px;
  margin-bottom: 20px;
}

footer.main-footer .footer-row .cta-area .link {
  margin-top: 30px;
}

footer.main-footer .footer-row .footer-brand {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #377DFF;
  align-self: center;
  justify-self: center;
}

footer.main-footer .footer-row .footer-brand .footer-brand-img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

footer.main-footer .footer-row .footer-links .footer-link-item:not(:last-child) {
  margin-right: 30px;
}

footer.main-footer .footer-row .footer-links .footer-link-item .footer-link {
  color: #b2b2b2;
  font-size: 18px;
  font-weight: 600;
}

footer.main-footer .footer-row .footer-links .footer-link-item .footer-link:hover, footer.main-footer .footer-row .footer-links .footer-link-item .footer-link:focus {
  color: #377DFF;
}

footer.main-footer .footer-row:not(:last-of-type) {
  margin-bottom: 30px;
}

/*------------------------------------------------------------------
[11. Index Page]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header]
------------------------------------------------------------------*/
#indexHeader {
  height: 100vh;
  width: 100%;
}

#indexHeader .container-fluid {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#indexHeader .container-fluid .header-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#indexHeader .container-fluid .header-row .jumbotron {
  text-align: center;
  margin: auto;
  width: 900px;
}

#indexHeader .container-fluid .header-row .jumbotron h1 {
  margin-bottom: 30px;
}

#indexHeader .container-fluid .header-row .jumbotron .body-1 {
  margin-bottom: 50px;
}

#indexHeader .container-fluid .header-row .jumbotron .header-links .header-link-item:not(:last-of-type) {
  margin-right: 20px;
}

@media only screen and (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  #indexHeader {
    width: 100vw;
  }
  #indexHeader .container-fluid {
    width: 100%;
  }
  #indexHeader .container-fluid .header-row .jumbotron {
    width: 100%;
    padding: 0;
  }
  #indexHeader .container-fluid .header-row .jumbotron .text-header {
    font-size: 40px;
  }
  #indexHeader .container-fluid .header-row .jumbotron .body-1 {
    font-size: 16px;
  }
  #indexHeader .container-fluid .header-row .jumbotron .header-links {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 5px 0 0;
  }
  #indexHeader .container-fluid .header-row .jumbotron .header-links .header-link-item {
    margin: 0;
  }
  #indexHeader .container-fluid .header-row .jumbotron .header-links .header-link-item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
  }
}

/*------------------------------------------------------------------
[Features]
------------------------------------------------------------------*/
#features .container-fluid .section-row.section-content {
  margin: 100px 0 0 0;
}

#features .container-fluid .section-row.section-content .features-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#features .container-fluid .section-row.section-content .features-area .feature-card {
  width: 425px;
  padding: 20px;
  border: 1px solid #EDEDED;
}

#features .container-fluid .section-row.section-content .features-area .feature-card .card-body .card-title {
  margin-bottom: 15px;
}

#features .container-fluid .section-row.section-content .features-area .feature-card .card-body .card-text {
  color: #7D8696;
  line-height: 30px;
}

#features .container-fluid .section-row.section-content .features-area .feature-card .feature-link {
  font-size: 16px;
}

@media only screen and (max-width: 568px) {
  html,
  body {
    overflow-x: hidden;
  }
  #features .section-content .features-area {
    flex-direction: column;
  }
  #features .section-content .features-area .feature-card {
    width: 300px;
  }
  #features .section-content .features-area .feature-card:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
  }
}

/*------------------------------------------------------------------
[Highlights]
------------------------------------------------------------------*/
#highlights.section .container-fluid .section-content {
  margin: auto;
}

#highlights.section .container-fluid .section-content .highlights-area .highlights-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#highlights.section .container-fluid .section-content .highlights-area .highlights-row .col-h {
  width: 600px;
}

#highlights.section .container-fluid .section-content .highlights-area .highlights-row .col-h.highlights-text .col-header,
#highlights.section .container-fluid .section-content .highlights-area .highlights-row .col-h.highlights-text .col-text {
  margin: 0 0 30px 0;
}

#highlights.section .container-fluid .section-content .highlights-area .highlights-row .col-h.highlights-text .col-text {
  padding: 0 50px 0 0;
  line-height: 34px;
}

#highlights.section .container-fluid .section-content .highlights-area .highlights-row .col-h:not(:last-of-type) {
  margin-right: 25px;
}

/*------------------------------------------------------------------
[Extras]
------------------------------------------------------------------*/
#extras .container-fluid .section-content {
  margin: auto;
  padding: 0 300px;
}

#extras .container-fluid .section-content .extras-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

#extras .container-fluid .section-content .extras-area .col-e {
  width: 50%;
}

#extras .container-fluid .section-content .extras-area .col-e:not(:last-of-type) {
  margin: 0 50px 0 0;
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row .extra-card {
  width: 300px;
  padding: 30px;
  border-color: #EDEDED;
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row .extra-card .card-body .card-title {
  font-size: 24px;
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row .extra-card .card-body .card-text {
  line-height: 30px;
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row .extra-card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.075);
}

#extras .container-fluid .section-content .extras-area .col-e .extras-col-row:not(:last-of-type) {
  margin-bottom: 30px;
}

/*------------------------------------------------------------------
[Google Maps]
------------------------------------------------------------------*/
#googleMaps .container-fluid .section-content {
  margin: auto;
}

#googleMaps .container-fluid .section-content .maps-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 75%;
}

#googleMaps .container-fluid .section-content .maps-area .col-left {
  text-align: center;
}

#googleMaps .container-fluid .section-content .maps-area .col-right {
  padding: 0 120px 0 0;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .col-header,
#googleMaps .container-fluid .section-content .maps-area .col-right .col-text {
  margin-bottom: 30px;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .d-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 0;
  margin: 0 0 30px 0;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .d-row .row-icon {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #377DFF;
  background-color: #E5F1FF;
  border-radius: 100%;
  margin-right: 20px;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .d-row .row-icon .fa-icon {
  width: inherit;
  padding: 0;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .d-row .row-text .row-text-header {
  margin-bottom: 0px;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .d-row .row-text .row-text-small {
  margin-bottom: 0;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .inline-link {
  font-size: 16px;
}

#googleMaps .container-fluid .section-content .maps-area .col-right .inline-link .link-icon {
  font-size: inherit;
}

/*------------------------------------------------------------------
[Testimonials]
------------------------------------------------------------------*/
#testimonials {
  background-color: #FAFBFC;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item {
  padding: 0 100px 0 210px;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row {
  padding: 20px 0;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card {
  width: 400px;
  padding: 25px 10px;
  border: 1px solid #EDEDED;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-head .card-avi {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-head .card-title {
  font-size: 20px;
  font-weight: 600;
  color: #323B4B;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-body .card-star {
  color: #FEC601;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[12. Search Page]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header]
------------------------------------------------------------------*/
#searchHeader {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#searchHeader .container-fluid .search-header-row {
  margin: auto;
  display: flex;
  justify-content: center;
}

#searchHeader .container-fluid .search-header-row .search-header-content .search-heading,
#searchHeader .container-fluid .search-header-row .search-header-content .search-header-text {
  padding-left: 0;
}

#searchHeader .container-fluid .search-header-row .search-header-content .search-header-text .span {
  color: #377DFF;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form {
  background-color: #FFFFFF;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col .search-icon {
  margin-right: 5px;
  color: #377DFF;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col .form-input {
  width: 100%;
  border: 0;
  box-shadow: none;
  outline: none;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col .btn-form {
  padding: 10px 0;
  width: 100px;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col .btn-form.btn-form-clear {
  color: #323B4B;
  border: 1px solid #EDEDED;
  margin-right: 10px;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col .btn-form.btn-form-search {
  color: #FFFFFF;
  border: 1px solid transparent;
  background-color: #377DFF;
}

#searchHeader .container-fluid .search-header-row .search-header-content .row .header-form .search-form .search-form-row .search-form-col:not(:last-of-type) {
  border-right: 2px solid #EDEDED;
}

/*------------------------------------------------------------------
[Search Results]
------------------------------------------------------------------*/
#searchResults .container-fluid .results-row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
}

#searchResults .container-fluid .results-row .results-area {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#searchResults .container-fluid .results-row .results-area .result-card {
  width: 700px;
  height: 180px;
  padding: 20px;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  border-bottom: 0;
  padding-left: 0;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .r-details {
  display: flex;
  justify-content: space-between;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .r-details .r-logo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin: 0 10px 0 0;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .r-details .r-logo .logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .r-details .r-info .card-title {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: 600;
  color: #323B4B;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .open-maps {
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #377DFF;
  border-radius: 100%;
}

#searchResults .container-fluid .results-row .results-area .result-card .card-header .open-maps .link {
  color: #FFFFFF;
  height: inherit;
  width: inherit;
}

#searchResults .container-fluid .results-row .results-area .result-card:not(:last-of-type) {
  margin-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */