/*------------------------------------------------------------------
[Master Stylesheet]
Project:    findDining
Version:    1.0
Last change:    12/09/2022
Assigned to:    Stephen Mwingira
Primary use:    API 
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Variables
2. Mixins
3. Functions
4. Resets
5. Body
6. Keyframes
7. Typography
8. Buttons
9. Navigation
10. Footer
11. Index page
12. Search page
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[2. Mixins]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Transitions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Sizing]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Shadows]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Object Fit]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[3. Functions]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Margins & Padding]
------------------------------------------------------------------*/
.m-t-0 {
  margin-top: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-l-35 {
  padding-left: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.p-r-35 {
  padding-right: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.p-t-45 {
  padding-top: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.m-t-55 {
  margin-top: 55px;
}

.p-t-55 {
  padding-top: 55px;
}

.m-b-55 {
  margin-bottom: 55px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.m-l-55 {
  margin-left: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.m-r-55 {
  margin-right: 55px;
}

.p-r-55 {
  padding-right: 55px;
}

.m-t-60 {
  margin-top: 60px;
}

.p-t-60 {
  padding-top: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.p-l-60 {
  padding-left: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.p-r-60 {
  padding-right: 60px;
}

.m-t-65 {
  margin-top: 65px;
}

.p-t-65 {
  padding-top: 65px;
}

.m-b-65 {
  margin-bottom: 65px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.m-l-65 {
  margin-left: 65px;
}

.p-l-65 {
  padding-left: 65px;
}

.m-r-65 {
  margin-right: 65px;
}

.p-r-65 {
  padding-right: 65px;
}

.m-t-70 {
  margin-top: 70px;
}

.p-t-70 {
  padding-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.p-l-70 {
  padding-left: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.p-r-70 {
  padding-right: 70px;
}

.m-t-75 {
  margin-top: 75px;
}

.p-t-75 {
  padding-top: 75px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.p-b-75 {
  padding-bottom: 75px;
}

.m-l-75 {
  margin-left: 75px;
}

.p-l-75 {
  padding-left: 75px;
}

.m-r-75 {
  margin-right: 75px;
}

.p-r-75 {
  padding-right: 75px;
}

.m-t-80 {
  margin-top: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.p-l-80 {
  padding-left: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.p-r-80 {
  padding-right: 80px;
}

.m-t-85 {
  margin-top: 85px;
}

.p-t-85 {
  padding-top: 85px;
}

.m-b-85 {
  margin-bottom: 85px;
}

.p-b-85 {
  padding-bottom: 85px;
}

.m-l-85 {
  margin-left: 85px;
}

.p-l-85 {
  padding-left: 85px;
}

.m-r-85 {
  margin-right: 85px;
}

.p-r-85 {
  padding-right: 85px;
}

.m-t-90 {
  margin-top: 90px;
}

.p-t-90 {
  padding-top: 90px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.m-l-90 {
  margin-left: 90px;
}

.p-l-90 {
  padding-left: 90px;
}

.m-r-90 {
  margin-right: 90px;
}

.p-r-90 {
  padding-right: 90px;
}

.m-t-95 {
  margin-top: 95px;
}

.p-t-95 {
  padding-top: 95px;
}

.m-b-95 {
  margin-bottom: 95px;
}

.p-b-95 {
  padding-bottom: 95px;
}

.m-l-95 {
  margin-left: 95px;
}

.p-l-95 {
  padding-left: 95px;
}

.m-r-95 {
  margin-right: 95px;
}

.p-r-95 {
  padding-right: 95px;
}

.m-t-100 {
  margin-top: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.m-l-100 {
  margin-left: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

/*------------------------------------------------------------------
[5. Resets]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[*]
------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
  transition: all ease-in-out 0.15s;
}

/*------------------------------------------------------------------
[Scrollbar]
------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #EDEDED;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #377DFF;
}

/*------------------------------------------------------------------
[5. Body]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[HTML/Body]
------------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
}

/*------------------------------------------------------------------
[Areas]
------------------------------------------------------------------*/
header,
section,
footer,
div {
  margin: 0;
}

section,
footer {
  padding: 100px 0;
  min-height: 200px;
}

footer {
  vertical-align: bottom;
}

/*------------------------------------------------------------------
[Links]
------------------------------------------------------------------*/
a {
  text-decoration: none;
}

/*------------------------------------------------------------------
[7. Typography]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Headings]
------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 62px;
}

h5 {
  font-size: 27px;
}

/*------------------------------------------------------------------
[Paragraphs]
------------------------------------------------------------------*/
p {
  line-height: 36px;
}

.p-header, .p-section-header {
  font-size: 20px;
}

.p-section-header {
  color: #99A2B2;
}

/*------------------------------------------------------------------
[Lists]
------------------------------------------------------------------*/
ul,
ol {
  list-style-type: none;
}

ul li,
ol li {
  display: inline;
}

/*------------------------------------------------------------------
[Font Weights]
------------------------------------------------------------------*/
.fw-thing {
  font-weight: 100 !important;
}

.fw-ex-light {
  font-weight: 200 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-sm-bold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-ex-bold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

/*------------------------------------------------------------------
[Text Colors]
------------------------------------------------------------------*/
.text-charcoal {
  color: #323B4B;
}

.text-manatee {
  color: #99A2B2;
}

/*------------------------------------------------------------------
[8. Buttons]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Button]
------------------------------------------------------------------*/
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

/*------------------------------------------------------------------
[.btn]
------------------------------------------------------------------*/
.btn {
  padding: 16px 40px;
  border: 0px;
  outline: none !important;
  font-weight: 600;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
  outline: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #FFFFFF;
  background-color: #377DFF !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  color: #377DFF;
  background-color: #E5F1FF !important;
}

.btn-alternate,
.btn-alternate:hover,
.btn-alternate:active,
.btn-alternate:visited,
.btn-alternate:focus {
  color: #377DFF;
  background-color: #FFFFFF;
}

/*------------------------------------------------------------------
[9. Navigation]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Navbar]
------------------------------------------------------------------*/
.navbar {
  height: 100px;
  line-height: 100px;
  background-color: #FFFFFF;
}

.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #377DFF;
}

.navbar .navbar-brand .navbar-brand-img {
  margin-right: 5px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
}

.navbar .navbar-collapse .navbar-nav .nav-item:not(:first-child) {
  margin-left: 40px;
}

/*------------------------------------------------------------------
[10. Footer]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Main Footer]
------------------------------------------------------------------*/
footer.main-footer {
  margin-top: auto;
}

footer.main-footer .row:not(:last-child) {
  margin-bottom: 20px !important;
}

footer.main-footer .row .footer-brand {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #377DFF;
  align-self: center;
  justify-self: center;
}

footer.main-footer .row .footer-brand .footer-brand-img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

footer.main-footer .row .footer-links .footer-link-item:not(:last-child) {
  margin-right: 30px;
}

footer.main-footer .row .footer-links .footer-link-item .footer-link {
  color: #b2b2b2;
  font-size: 18px;
  font-weight: 600;
}

footer.main-footer .row .footer-links .footer-link-item .footer-link:hover, footer.main-footer .row .footer-links .footer-link-item .footer-link:focus {
  color: #377DFF;
}

footer.main-footer .row .footer-text {
  margin-top: -10px !important;
}

footer.main-footer .cta-area {
  margin-bottom: 50px;
}

footer.main-footer .cta-area .cta {
  height: 200px;
  color: #FFFFFF;
  background-color: #377DFF;
  border-radius: 20px;
}

footer.main-footer .cta-area .cta .cta-text {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------
[11. Index Page]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header]
------------------------------------------------------------------*/
#indexHeader {
  height: 100vh;
  width: 100%;
}

/*------------------------------------------------------------------
[Features]
------------------------------------------------------------------*/
#features {
  background-color: #FAFBFC;
}

#features .section-content .card {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #EDEDED;
}

#features .section-content .card .card-body .card-body-icon {
  height: 80px;
  width: 80px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #E5F1FF;
  margin-bottom: 20px;
  color: #377DFF;
}

#features .section-content .card .card-body .card-title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #323B4B;
}

#features .section-content .card .card-body .card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #99A2B2;
}

#features .section-content .card .card-body .card-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #377DFF;
}

#features .section-content .card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.025);
}

/*------------------------------------------------------------------
[Encryption]
------------------------------------------------------------------*/
#encryption {
  background-color: #FAFBFC;
}

#encryption .container-fluid .encryption-cards .card {
  padding: 20px;
  width: 325px;
  border: 1px solid #EDEDED;
}

#encryption .container-fluid .encryption-cards .card .card-icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #377DFF;
  background-color: #E5F1FF;
  margin-bottom: 10px;
}

#encryption .container-fluid .encryption-cards .card .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #323B4B;
}

#encryption .container-fluid .encryption-cards .card .card-text {
  font-size: 16px;
  font-weight: 500;
}

#encryption .container-fluid .encryption-cards .card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

/*------------------------------------------------------------------
[Google Maps]
------------------------------------------------------------------*/
#googleMaps .container-fluid .row .details {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

#googleMaps .container-fluid .row .details .details-icon {
  height: 80px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #377DFF;
  font-size: 26px;
  background-color: #E5F1FF;
  border-radius: 100%;
  margin-right: 10px;
}

#googleMaps .container-fluid .row .details .details-text {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#googleMaps .container-fluid .row .details .details-text .details-title {
  font-size: 20px;
  font-weight: 600;
  color: #323B4B;
}

#googleMaps .container-fluid .row .details .details-text .details-small {
  font-size: 16px;
  font-weight: 500;
  color: #99A2B2;
}

/*------------------------------------------------------------------
[Testimonials]
------------------------------------------------------------------*/
#testimonials {
  background-color: #FAFBFC;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item {
  padding: 0 100px 0 210px;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row {
  padding: 20px 0;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card {
  width: 400px;
  padding: 25px 10px;
  border: 1px solid #EDEDED;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-head .card-avi {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-head .card-title {
  font-size: 20px;
  font-weight: 600;
  color: #323B4B;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card .card-body .card-star {
  color: #FEC601;
}

#testimonials .container-fluid .testimonials-area .carousel-inner .carousel-item .carousel-item-row .testimonial-card:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[12. Search Page]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header]
------------------------------------------------------------------*/
#searchHeader {
  min-height: 40vh;
  width: 100%;
  padding: 50 0;
  background-color: #FAFBFC;
}

#searchHeader .container-fluid {
  height: 100%;
  width: 100%;
  margin: auto;
}

#searchHeader .container-fluid .jumbotron {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

/*------------------------------------------------------------------
[Search Results]
------------------------------------------------------------------*/
#searchResults .results {
  height: 100%;
  width: 100%;
}

#searchResults .results .card {
  margin: 20px;
  padding: 20px;
  width: 500px;
}

#searchResults .results .card .card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchResults .results .card .card-row .card-head {
  display: flex;
  align-items: center;
}

#searchResults .results .card .card-row .card-head .card-image {
  height: 80px;
  width: 80px;
  margin-right: 5px;
}

#searchResults .results .card .card-row .card-head .card-image .r-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

#searchResults .results .card .card-row .card-head .card-head-text .card-title {
  color: #323B4B;
  font-size: 18px;
  font-weight: 600;
}

#searchResults .results .card .card-row .card-head .card-head-text .card-subtitle {
  color: #99A2B2;
  font-weight: 500;
}

#searchResults .results .card .card-row .card-link {
  background-color: #377DFF;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

#searchResults .results .card .card-row .card-link .card-icon {
  font-size: 18px;
  color: #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */